* {
  margin: 0px;
  padding: 0px;
  font-family: "inter";
  background: #f5f5f7cc;
}
/* body {
  overflow-x: hidden;
} */
.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}
.header * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.navigation a {
  text-decoration: none;
}
.navigation {
  gap: 24px;
  height: 44px;
  font-size: 12px;
  background: #f5f5f7cc;
}

.promotion {
  height: 44px;
  font-size: 14px;
  text-align: center;
  padding: 16px 10px;
  height: min-content;
  background-color: white;
}

.gradient-shadow {
  width: 100vw;
  height: 75px;
  background: url(./store-imgs/Gradienthr.png) no-repeat center/cover;
  background: linear-gradient(to bottom, white);
}

.gift-magic-this-holiday {
  margin: 80px 0px;
  width: auto;
  height: 100px;
  padding: 0px 140px;
  justify-content: space-between;
}

.gift-magic-this-holiday div:first-child {
  width: max-content;
  margin-bottom: auto;
}

.gift-magic-this-holiday div:first-child h1 {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
  background-color: #f5f5f7cc;
}
.gift-magic-this-holiday div:first-child h1 span {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  color: transparent;
}

.need-shoping-help {
  width: 226px;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  font-size: 14px;
}

.need-shoping-help div:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 50%;
  background: url(./store-imgs/store-chat-holiday-specialist-icon-202411_AV3.png)
    center/cover no-repeat;
  border: #6e6e73;
  border-radius: 50%;
}
.need-shoping-help-ask {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}
.need-shoping-help-find {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}
.need-shoping-help div:not(.need-shoping-help-prf) p:nth-child(2) {
  color: #0090f7;
  text-decoration: underline;
}
.products-list {
  width: 100;
  height: 136px;
  padding: 0px 140px;
  justify-content: space-between;
}
.items {
  width: 136px;
  height: 100%;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-list div {
  width: 100%;
  height: 100%;
}
.item-img01 {
  background: url(./store-imgs/sotre-products/store-card-13-mac-nav-202410.png)
    no-repeat center/cover;
}
.item-img02 {
  background: url(./store-imgs/sotre-products/store-card-13-iphone-nav-202409_GEO_US.png)
    center/cover no-repeat;
}
.item-img03 {
  background: url(./store-imgs/sotre-products/store-card-13-ipad-nav-202405.png)
    center/cover no-repeat;
}
.item-img04 {
  background: url(./store-imgs/sotre-products/store-card-13-watch-nav-202409.png)
    center/cover no-repeat;
}
.item-img05 {
  background: url(./store-imgs/sotre-products/store-card-13-vision-pro-nav-202401.png)
    center/cover no-repeat;
}
.item-img06 {
  background: url(./store-imgs/sotre-products/store-card-13-airpods-nav-202409.png)
    center/cover no-repeat;
}
.item-img07 {
  background: url(./store-imgs/sotre-products/store-card-13-airtags-nav-202108.png)
    center/cover no-repeat;
}
.item-img08 {
  background: url(./store-imgs/sotre-products/store-card-13-appletv-nav-202210.png)
    center/cover no-repeat;
}
.item-img09 {
  background: url(./store-imgs/sotre-products/store-card-13-homepod-nav-202301.png)
    center/cover no-repeat;
}
.item-img10 {
  background: url(./store-imgs/sotre-products/store-card-13-accessories-nav-202409.png)
    center/cover no-repeat;
}
.item-img11 {
  background: url(./store-imgs/sotre-products/store-card-13-holiday-giftcards-asit-agc-nav-202111.png)
    center/cover no-repeat;
}

.main {
  margin: 60px 0px;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main > div {
  height: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0px;
}

.section {
  display: flex;
  align-items: center;
  scrollbar-width: none;
  overflow-x: scroll;
  gap: 20px;
}
.section > div {
  border-radius: 20px;
  background-color: #0090f7;
}

.main-section01 div {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 480px;
  flex-shrink: 0;
  padding: 30px 0 0 30px;
  gap: 9px;
}

.main-section02 > div {
  flex-shrink: 0;
  height: 500px;
  width: 310px;
}
.main-section02 div:first-child {
  width: 400px;
}

.main-section03 > div {
  flex-shrink: 0;
  height: 500px;
  width: 313px;
}

.main-section03 div:first-child {
  width: 400px;
}

.main-section04 > div {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
}

.main-section04 > div:nth-child(2) {
  display: grid;
  gap: 20px;
  width: 640px;
  height: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-section05 > div {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
}

.main-section06 > div {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
}
.main-div {
  height: 500px;
}

.main div h2 span {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: 700;
}

.main div h2 {
  color: #6e6e73;
}

.footer {
  width: 100%;
  height: 100px;
  margin: 0px 0px 100px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer div {
  display: flex;
  gap: 12px;
}
.footer div div {
  border: 1px solid black;
  border-radius: 100px;
  height: 40px;
  align-items: center;
  font-size: 14px;
  padding: 0px 12px;
}

.footer div div span {
  width: 8px;
  height: 8px;
  background: url(.//images-logo/Vector\(2\).png) center/cover no-repeat;
}

.main-section01 > div > p:first-child {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
}
.main-section01 > div > h3 {
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
}
.main-section01 > div > p:last-child {
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}
.main-section01 div:first-child {
  background: url(./store-imgs/mainclass-imgs/store-card-50-holiday-ipad-mini-202411.png)
    center/cover no-repeat;
}
.main-section01 div:nth-child(2) {
  background: url(./store-imgs/mainclass-imgs/store-card-50-holiday-watch-s10-202411.png)
    center/cover no-repeat;
}
.main-section01 div:nth-child(3) {
  background: url(./store-imgs/mainclass-imgs/store-card-50-holiday-iphone-pro-202411_GEO_US.png)
    center/cover no-repeat;
}
.main-section01 div:nth-child(4) {
  background: url(https://s3-alpha-sig.figma.com/img/8943/d8c5/85c4f4bb4720641745b1cce65bdd8f0e?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=VqKamVkKrNGMQTZlkBluw~pO6kbSfCvlxJanKZnRtgzYCuHV3xnLvOCKRO-HGKcN~FSY2m8G~mn2hL2EzYUrqPW2VF3zm-8mBB7qIdaXNJrspjoijOLcu5qa9vUK5yoqLHoATq9BVTIx8ori2PYkU05YM2LvWG8qYIJuSllUjkcWbh1PoANvLfJMbi9zmIiIHkFFKrTYrIABXaBQPPiuG6YKKEI3q6vXyc0I3tzn~dbbKKtAP~LeD5BnFSM8eo54~Fs83oEpB-GRsop--driV8PfCtylXqLA1z1AtlmhJ7PTbjzNXmi0YTgmjqbme-OxT1uyxukSXwB9dl8-3WJxrA__)
    center/cover no-repeat;
}

.main-section02 div {
  background-color: white;
}
.main-section02 #zzz > h3 {
  font-size: 26px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  background-color: transparent;
  position: relative;
  top: 53px;
  left: 30px;
}
.main-section02 > #zzz {
  background: url(./store-imgs/mainclass-imgs/store-card-40-holiday-engraving-202411.png)
    center/cover no-repeat;
}
.main-section02 > div:not(#zzz) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-section02 > div:not(#zzz) > div:first-child {
  width: 230px;
  height: 230px;
  position: relative;
  top: 71px;
}
.main-section02 > div:not(#zzz) > div:last-child {
  width: 258px;
  border: 1px solid #050505;
  margin-bottom: 30px;
  height: 110px;
  display: flex;
  flex-direction: column;
}
.main-section02 > div:not(#zzz) > div:last-child > p:last-child {
  color: #1d1d1f;
  font-size: 14px;
  margin-top: auto;
}
.main-section02 > div:not(#zzz) > div:last-child > h5 {
  /* color: #1d1d1f; */
  font-size: 18px;
  font-weight: 700;
  color: #f2416b;
}
.main-section02 > div:nth-child(2) > div:first-child {
  background: url(./store-imgs/mainclass-imgs/MX2D3.png) center/cover no-repeat;
}
.main-section02 > div:nth-child(3) > div:first-child {
  background: url(./store-imgs/mainclass-imgs/airpods-pro-2-hero-select-202409.png)
    center/cover no-repeat;
}
.main-section02 > div:nth-child(4) > div:first-child {
  background: url(./store-imgs/mainclass-imgs/airpods-max-select-202409-purple.png)
    center/cover no-repeat;
}
.main-section02 > div:nth-child(5) > div:first-child {
  background: url(./store-imgs/mainclass-imgs/airpods-4-anc-select-202409.png)
    center/cover no-repeat;
}
/* .main-section02 > div:nth-child(2) {
  background: url(./store-imgs/mainclass-imgs/) center/cover no-repeat;
} */
